---
layout: default
---

<div class="container">
  <div class="masthead">
    <ul class="nav nav-pills pull-right">
      <li><a href="/">Home</a></li>
      <li class="active"><a href="/rondleiding/factuur-opstellen.html">Rondleiding</a></li>
      <li><a href="{{site.posts.first.url}}">Blog</a></li>
      <li><a href="https://app.moneycloud.be">Login</a></li>
      <li><a href="https://app.moneycloud.be/signups/new">Meld je gratis aan!</a></li>
    </ul>
    <a class="brand" href="/">MoneyCloud</a>
  </div>
</div>

<div id="tour">
  {{content}}
</div>